*{
    box-sizing: border-box;
    font-family: 'Calibri', 'Arial', sans-serif;
}

body{
    margin: 0;
}

a, button{
    transition: all 0.3s;
}

#game {
    position: relative;
    text-align: center;
    background: url("images/gameBackground.svg") no-repeat center center;
    /*background: linear-gradient(to right, #0083B0, #00B4DB) no-repeat center center;*/
    /*background: linear-gradient(to bottom, #FFEFBA, #FFFFFF) no-repeat center center;*/
    /*background: linear-gradient(to right, #0F2027, #203A43, #2C5364) no-repeat center center;*/
    background-size: cover;
    padding: 20px 0;
    min-height: 100vh;
}

#board {
    border-image: url("images/border3.png") 16 repeat !important;
    /*border-color: #693C1B !important;*/
    background: url("images/background.png") repeat center center;
    background-size: 60px 60px;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    box-sizing: unset;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}

#snake{
    display: inline-block;
}

#snake::after {
    content: "";
    display: table;
    clear: both;
}

.square{
    position: absolute;
}

#board > .square{
    border-radius: 100%;
    border: 2px solid rgba(0,0,0,0.25);
}

#snake .square{
    background-image: url("images/snake_brick3.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#snake .square:last-child{
    background-image: url("images/snake_head3.svg");
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.blue{
    background-color: blue;
}

.red{
    background-color: #E82000;
}

.green{
    background-color: #24AF00;
}

.pink{
    background-color: hotpink;
}

.purple{
    background-color: purple;
}

.orange{
    background-color: orange;
}

.yellow{
    background-color: yellow;
}

.cyan{
    background-color: cyan;
}

#control-panel button{
    border: none;
    color: white;
    padding: 5px 30px;
    font-weight: bold;
    font-size: 18px;
    margin: 0 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}

.disabled{
    background-color: dimgray !important;
}

#reset {
    background-color: orange;
}

#reset:hover,
#reset:focus,
#reset:active{
    background-color: #c17d00;
}

#play {
    background-color: limegreen;
}

#play:hover,
#play:focus,
#play:active{
    background-color: #299329;
}

#pause,
#difficulte,
#difficulte option:hover,
#difficulte option:focus,
#difficulte option:active{
    background-color: deepskyblue;
}

#pause:hover,
#pause:focus,
#pause:active,
#difficulte:hover,
#difficulte:focus {
    background-color: #048bb9;
}

#score {
    text-align: center;
    color: white; /*dimgrey;*/
    padding: 5px 20px;
    background-color: #555;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}

#difficulte{
    display: block;
    margin: 0 auto;
    color: white;
    padding: 5px 20px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}

.game-over{
    text-align: center;
    color: white;
    padding: 5px 20px;
    background-color: #804780;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    margin-bottom: 20px;
    transition: all 0.3s;
    overflow: hidden;
}

.game-over.invisible{
    height: 0;
    padding: 0;
    margin: 0;
}